.app {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.gameInfo {
    display: flex;
    flex-direction: row;
    height: 15%;
    padding: 8px;
    justify-content: space-between;
}